html, body {
  height: 100%;
}

body {
  background: #e0e0e0;
}

h2 {
  font-size: 1.25vw;
}
p {
  font-size: 1vw;
}
.blkblnkt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  color: #fff;
}

.ai-center {
  align-items: center;
}