//YELLOW
$yellow-dark : #FFCB05;
  //- 255, 203, 5
$yellow-mid : #FFD63C;
  //- rgba: 255, 214, 60
$yellow-light : #FFDF66;
  //- rgba: 255, 223, 102

$yellow-like : #f1e867;
  //- rgba: 241,232,103

//BLUE
$blue-dark : #00274C;
  //- rgba: 0, 39, 76
$blue-mid : #003569;
  //- rgba: 0, 53, 105
$blue-light : #004486;
  //- 0, 68, 134

//GRAY
$gray-dark : #333;
  //- rgba: 51, 51, 51
$dark-mid : #6B6A6A;
  //- rgba: 107, 106, 106
$gray-light: #9D9C9C;
  //- rgba: 157, 156, 156