#search-container
  form.searchForm
    .pure-g
      .pure-u-3-4.pure-u-md-11-12
        label Search
        input.video-search(name="videoSearch")
      .pure-u-1-4.pure-u-md-1-12
        input(type="submit",value="Search")

#response-container
  .pure-g.ai-center  
    each searchResults
      .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4.search-item.ai-center
        .padded-container
          .search-item__thumbnail
            img(src="{{this.snippet.thumbnails.high.url}}")
          .search-item__content
            .search-item__details
              h2 {{this.snippet.title}}
              p {{this.snippet.description}}
