@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.search-item {
  padding-bottom: 14.0625%;
  height: 0;
  height: 0;
  position: relative;
  @include xsm-vp {
    padding-bottom: 56.25%;
  }
  @include sm-vp {
    padding-bottom: 28.125%;
  }
  @include md-vp {
    padding-bottom: 18.5625%;
  }
  @include lg-vp {
    padding-bottom: 14.0625%;
  }
}
.search-item {
  &__thumbnail {
    position: relative;
    overflow:hidden;
    z-index: 5;
    padding-bottom: 56.25%;
    height: 0;
    img {
      width: 100%;
      margin-top: -9.355%;
    }
  }
}
.search-item {
  .padded-container {
    padding: 10px 0px 10px 10px;
  }
  &__content {
    border-radius: 10px 10px 10px 10px;
    border: 3px solid $yellow-dark;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;
    width: 100%;
    height: 200%;
    opacity: 0;
    display: none;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    color: $blue-dark;
    //text-shadow: 1px 1px 1px $blue-dark;
    &::before {
      content:"\A";
      border-style: solid;
      border-width: 20px 25px 20px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      left: -25px;
      top: 10%;
    }
  }
  @include xsm-vp {
    &:nth-child(n) {
      .padded-container {
        padding: 10px 10px 10px 10px;
      }
      .search-item__content {
        left: 0 !important;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 20px 0 20px 25px;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          left: auto;
          right: -25px;
          top: 10%;
        }
      }
    }
  }
  @include sm-vp {
    &:nth-child(2n+0) {
      .padded-container {
        padding: 10px 10px 10px 10px;
      }
      .search-item__content {
        left: -100% !important;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 20px 0 20px 25px;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          left: auto;
          right: -25px;
          top: 10%;
        }
      }
    }
  }
  @include md-vp {
    &:nth-child(3n+0) {
      .padded-container {
        padding: 10px 10px 10px 10px;
      }
      .search-item__content {
        left: -100% !important;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 20px 0 20px 25px;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          left: auto;
          right: -25px;
          top: 10%;
        }
      }
    }
  }
  @include lg-vp {
    &:nth-child(4n+0) {
      .padded-container {
        padding: 10px 10px 10px 10px;
      }
      .search-item__content {
        left: -100% !important;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 20px 0 20px 25px;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          left: auto;
          right: -25px;
          top: 10%;
        }
      }
    }
  }
  @include xl-vp {
    &:nth-child(4n+0) {
      .padded-container {
        padding: 10px 10px 10px 10px;
      }
      .search-item__content {
        left: -100% !important;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 20px 0 20px 25px;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          left: auto;
          right: -25px;
          top: 10%;
        }
      }
    }
  }
  &:hover {
    .search-item__content {
      display: block;
      opacity: 1;
      @include animation('fadeThisIn .5s');
      &:hover {
        display: none;
        opacity: 0;
      }
    }
  }
  &__details {
    h2 {
      margin: 10px;
    }
    p {
      margin: 10px;
    }
  }
}

@include keyframes(fadeThisIn) {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(fadeThisOut) {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

