section#menu-container
  ul
    li 
      a.pure-button.pure-button-secondary.display-block(href="#all")
        | All
    li
      a.pure-button.pure-button-secondary.display-block(href="#today")
        | Today's
    li
      a.pure-button.pure-button-secondary.display-block(href="#tomorrows") 
        | Tomorrow's
    li
      a.pure-button.pure-button-secondary.display-block(href="#yours") 
        | Yours
    li
      a.pure-button.pure-button-secondary.display-block(href="#others") 
        | Others

    .profile__cta
      a.pure-button.pure-button-secondary.display-block(href="#")
        i(class="fa fa-cog")
        | Profile

