head
  title app
  //- @import url(http://fonts.googleapis.com/css?family=Raleway);
  //- link(href='http://fonts.googleapis.com/css?family=Raleway',rel='stylesheet',type='text/css')
  //- link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
body
  #main-container
    .pure-g
      .pure-u-1.pure-u-md-1-8
        +menu
      .pure-u-1.pure-u-md-7-8
        +dashboard